$base-color: #1e1f27;
$secondary-color: #2a2c38;

$btn-highlight: #313442;
$row-highlight: #24262f;

$text-color: white;
$icon-color: white;

$transparent-white: rgba(255, 255, 255, 0.08);
$transparent-black: rgba(0, 0, 0, 0.65);
