@import url('./reset.scss');

@font-face {
  font-family: Inter;
  src: url(./fonts/Inter.woff2);
}

body {
  font-family: Inter;
  background-color: #1e1f27;
}

* > a,
span {
  text-decoration: none;
  color: white;
  user-select: none;
}

.container {
  width: 1080px;
  margin: 0 auto;
}
