@import './reset.scss';
@import './colors.scss';

@font-face {
  font-family: Inter;
  src: url(./fonts/Inter.woff2);
}

body {
  font-family: Inter;
  background-color: $base-color;
}

* > a,
span {
  text-decoration: none;
  color: $text-color;
  user-select: none;
}

.container {
  width: 1080px;
  margin: 0 auto;
}
